<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Marko Petrov</title>
        <link rel="icon" href="./assets/213198602.jpeg"> 
    
        <noscript>
            <style>
                #container {
                    display: none;
                }
            </style>
        </noscript>
    
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="../styles.css">
    </head>

    <body>
        <div>
            <h1>{{page.title}}</h1>
        </div>
    </body>
    <script src="../script.js"></script>
</html>